input,
textarea,
button {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    outline: none;
    appearance: none;
    text-align: left;
}

.calculator__container {
    display: block;
}

.calculator__container > p {
    text-align: center;
    margin-bottom: 2em;
}

.calculator {
    float: left;
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    max-width: 30em;
}

.calculator__display {
    background-color: #222222;
    color: #fff;
    font-size: 1.25em;
    padding: 0.5em 0.5em;
    text-align: right;
    word-wrap: anywhere;
    width: 100%;
    /*word-break: break-all;*/
    position: relative;
}

.calculator__var {
    color: #fff;
    width: 100%;
    display: none;
    margin-top: 2px;
    position: relative;
}

.calculator__var input {
    color: #fff;
    display: inline-block;
    width: 70%;
}

.calculator__graph {
    color: #fff;
    width: 100%;
    display: none;
    margin-top: 2px;
    position: relative;
}

.calculator__graph input {
    color: #fff;
    display: inline-block;
    width: 70%;
}

.calculator__label {
    width: 50%;
    float: left;
    padding: 0.25em 0.25em;
    background-color: #222222;
}

.calculator__value {
    width: 50%;
    float: left;
    padding: 0.25em 0.25em;
    background-color: #222222;

}

.calculator__keys {
    background-color: #999;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(7, 1fr);
}

.calculator__keys > * {
    background-color: #fff;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
}

.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
    content: "";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.key--operator {
    background-color: #eee;
}

.key--equal {
    background-image: linear-gradient(to bottom, #fe886a, #ff7033);
}

.help {
    display: block;
    position: relative;
    float: left;
    padding-right: 0.5em;
    padding-top: 0.2em;
    font-size: 150%;
    left: 10px;
    cursor: pointer;
}

.history {
    float: left;
    padding-left: 0.5em;
    padding-top: 0.1em;
    cursor: pointer;
}

.graph__container {
    margin-top: 50px;
    max-height: 300px;
    display: none;
}


.help_display {
    left: 500px;
    top: 30px;
}

.help_functions {
    left: -260px;
    top: 100px;
}

.help_calculate {
    left: 790px;
    top: 300px;
}

.help_var {
    left: 790px;
    top: -40px;
}

.help_graph {
    left: 360px;
    top: 100px;
}

.help_history {
    left: 860px;
    top: -400px;
}
